@import url('https://fonts.googleapis.com/css2?family=Source+Serif+Pro:wght@300;400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@font-face {
    font-family: "Waterhole";
    src: url('./Waterhole-9XdB.ttf') format("truetype");
}

html {
    margin: 0px;
    padding: 0px;
}

p, h1, h2, h4 {
    font-family: 'Source Serif Pro', serif!important;
}

a, h2 {
    font-family: 'Pacifico', serif!important;
}

.navbar-brand {
    font-family: 'Waterhole', serif!important;
    font-size: 1.8rem!important;
    color: #587fdb!important;
}

a.card-title {
    text-decoration: none!important;
    color: black!important;
    font-size: 1.5rem!important;
    font-weight: 500;
}

.divisor {
    height: 5px;
    width: 40px;
    background-color: #587fdb;
    margin-bottom: 15px;
}

.topics {
    margin: 2rem;
}

.carousel-item {
    padding: 0!important;
}

.caption-mobile {
    font-size: .9rem;
    margin: .6rem 0 0 .6rem;
}

@media only screen and (max-width: 768px) {
    .card-img-top {
        width: 100%;
        height: 30vh;
        object-fit: cover;
    }

    .d-block {
        max-height: 160px; 
        object-fit: cover;
    }
}

@media only screen and (min-width: 768px) {
    .card-img-top {
        width: 100%;
        height: 60vh;
        object-fit: cover;
    }

    .carousel {
        margin: 1rem 8rem 2rem 8rem;
    }

    .d-block {
        max-height: 540px; 
        object-fit: cover;
    }

    .carousel-caption {
        background: #c8d8ffcc;
        border-radius: 20px;
        padding: 1rem;
        color: black!important;
        font-size: 1.2rem;
        font-weight: 600;
    }
}