@import url('https://fonts.googleapis.com/css2?family=Source+Serif+Pro:wght@300;400;600;700&display=swap');

html {
    margin: 0px;
    padding: 0px;
}

a, p, h1, h2, h3, h4 {
    font-family: 'Source Serif Pro', serif!important;
}

a, h1, h2, h3, h4 {
    font-weight: 600!important;
}

.navbar-brand {
    font-size: 1.8rem!important;
    color: #587fdb!important;
}

a.card-title {
    text-decoration: none!important;
    color: black!important;
    font-size: 20px!important;
    font-weight: 500;
}

.divisor {
    height: 5px;
    width: 40px;
    background-color: #587fdb;
    margin-bottom: 15px;
}

.topics {
    margin: 2rem;
}